

*{
    margin: 0px;
    padding: 0px;
}

.container{
    margin: 40px auto;
    width: 1400px;
}

.banner{
    background-image: url("../resources/Banner\ Image.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 216px 0px;
    opacity: 0.94;
    background-position: center;
}

.banner-text{
    text-align: center;
}
.banner-text h3{
    color: #FFF;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
}
.banner-text h1{
    color: #FFF;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}

.new-year-discount{

}

.discount-text-container{

}

.welcome-banner{
    
}

.holiday-sale-discount{

}

.join-now{

}

.coming-soon{

}

.holiday-sale{

}

.portfolio{

}

.portfolio-text{

}

.portfolio-images{

}

.subscribe-newsletter{

}

.footer-column{

}

.column-left{

}

.column-right{

}

.footer-social-links{

}

.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
